body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#evil-button{
  position: absolute;
  white-space: nowrap;
  font-size: 2rem;
  background-image: "image.jpg";
}
.cry-baby{
  transition: background-color 0.8s ease;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  background: linear-gradient(45, #e66465, #9198e5);
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}